<?php

date_default_timezone_set('Asia/Shanghai');

$app_name = "XXX's GReader";
$app_path = '/reader';
$app_domain = 'example.com';
$app_url = "http://$app_domain$app_path";

$consumer_key = 'example.com';
$consumer_secret = 'XXX';

$email = 'xxx@example.com';

?>
